<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi sitio web{% endblock %}</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Hola {{ user.username }}</p>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <p>No se esta logeado</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        
        <br>
        <a href="{% url 'registro' %}">Registrarse</a>

        <h1>{% block header%}Mi sitio web{% endblock %}</h1>
    </header>
    {% include 'navbar.html' %}

    <div class="contenido">
        {% block content %}{% endblock %} 
    </div>

    <footer>&copy; 2024 - Todos los derechos reservados</footer>

</body>
</html>